$primary   : #f4b25e
$secondary : #f4b25e
$accent    : #9C27B0

$dark      : #1D1D1D

$positive  : #21BA45
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037



$background: rgba(244, 178, 94, 0.54)
$r2d-container: #171717
$r2d-inner: #222323

$light_on: #e10606

$screen: rgba(44, 59, 54, 0.889)


