$primary   : #f4b25e
$secondary : #f4b25e
$accent    : #9C27B0

$dark      : #1D1D1D

$positive  : #21BA45
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037



$background: #a4a4a4
$r2d-container: #1c1c1c
$r2d-inner: #222323

$light_on: #e10606


